* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Aukim Light';
    src: url(../fonts/AukimLight.otf);
}

@font-face {
    font-family: 'Aukim Extra Bold';
    src: url(../fonts/AukimExtraBold.otf);
}

body {
    background-color: #D6DCD8;
}

h1 { 
    font-family: 'Aukim Light', sans-serif;
    font-weight: bold;
    font-size: 27px;
}

h2 {
    font-family: 'Aukim Extra Bold', sans-serif;
}

p {
    font-family: 'Aukim Light', sans-serif;
    font-weight: bold;
    font-size: 21px;
}

.flex {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.logo-header {
    width: 10%;
    height: 10%;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

button {
    border-radius: 30px;
    background-color: #402232;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 60px;
    color: #D6DCD8;
}